<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="main.css">
<title>Insert title here</title>
</head>
<body>
<div class="idcon">
	<img class="icon" src="TRAB%20ICON%20ALL%20WHITE.png">
</div>
<div class="media_idcon">
	<img class="media_icon" src="SMALL%20TRAB%20ICON%20ALL%20WHITE.png">
</div>
<div class="banner">

<form action="mainInsert.jsp" method="post" id = "frm">
	<br/>
	안녕하세요! 여행 준비를 도와드릴게요.
	<br/>
	여행은 몇명이서 떠나나요?
	<br/>
	<input type="number" class="invisible" min="1" max="20" id="number" placeholder="1"/> <br/>
	<input type="button" value ="다음" id="button" onclick="document.getElementById('frm').submit();"/>
	</form>
</div>

<div class="container" >

	</div>
</body>
</html>